:root {
	--border-size: 2px;
	--main-dark-color: #f4b8aa;
	--main-light-color: #fdedd3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
}

body {
	height: fit-content;
  background-image: linear-gradient(180deg, var(--main-dark-color) 0%, var(--main-light-color) 100%);
}

button {
	-webkit-text-fill-color: black;
}

input, select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input, select, textarea{
	padding: 5px;
	color: black;
	background-color: white;
	border: none;
	border-bottom: 1px solid var(--main-dark-color);	
	transition: border 0.1s linear;
}

input:active, select:active, textarea:active,
input:focus, select:focus, textarea:focus {
	outline: none;
	border-bottom: 3px solid var(--main-dark-color);
}

label {
	font-weight: 600;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 5px;
}

.input-container > input,
.input-container > select {
	width: 100%;
}

::placeholder, option.placeholder {
	color: lightgray;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.form-btn {
	width: 12vw;
	height: 4vw;
	background-color: #fff;
	position: relative;
	border: none;
	border-radius: 10px;
	max-width: 125px;
	max-height: 40px;
}

.form-btn::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: 10px;
	border: 1px solid var(--main-dark-color);
	transition: top, left, right, bottom, 100ms ease-in-out;
}

.form-btn:hover {
	border: 1px solid var(--main-dark-color);
}

.form-btn:hover::before,
.form-btn:focus::before {
	border: 2px solid var(--main-dark-color);
	border-radius: 16px;	
	top: calc(var(--border-size) * -3);
	left: calc(var(--border-size) * -3);
	right: calc(var(--border-size) * -3);
	bottom: calc(var(--border-size) * -3);
}

.container {
	background-color: #fff;
	width: 50vw;
	margin: 5vh auto;
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 450px;
	transition: all, 100ms ease-in-out;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

/* Button bounce animation */
@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-20px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.button-bounce {
  animation: bounce 0.6s;
}

/* For tablets */
@media (max-width: 768px) {
	* {
		font-size: 15px;
	}

  .container {
    width: 70vw;
  }

  .form-btn {
    width: 30vw;
    max-width: 100px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
	* {
		font-size: 14px;
	}

  .container {
    width: 90vw;
    max-width: 400px;
  }

  .form-btn {
		min-width: 30px;
		min-height: 30px;
    width: 50vw;
    max-width: 80px;
  }
}
